node_modules

# IDE
.idea
.vscode

# Output
.output
.vercel
/.svelte-kit
/build

# Auto gen
package-lock.json

# OS
.DS_Store
Thumbs.db

# Env
.venv
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# dataset
backend/dataset
